# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\moima\Desktop\5 semestras\Programavimo technologijos. Ramanauskaite\Pratybos\2 LD\LaboratorinisDu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
